source/app/.DS_Store
source/app/node_modules
source/app/build
source/app/.svelte-kit
source/app/package
source/app/.env
source/app/.vercel
source/app/.output
source/app/vite.config.js.timestamp-*
source/app/vite.config.ts.timestamp-*


