app/.DS_Store
app/node_modules
app/build
app/.svelte-kit
app/package
app/.env
app/.vercel
app/.output
app/vite.config.js.timestamp-*
app/vite.config.ts.timestamp-*


home/.DS_Store
home/node_modules
home/build
home/.svelte-kit
home/package
home/.env
home/.vercel
home/.output
home/vite.config.js.timestamp-*
home/vite.config.ts.timestamp-*

/api/.env
/api/*.json
/api/*.json
/api/env/

android/android.keystore
android/app-release-signed.apk
android/app-release-bundle.aab
android/app-release-signed.apk.idsig
android/app-release-unsigned-aligned.apk
android/.gradle/